.col2{
   background-color: hsl(300, 100%, 50%);
   width: 33%;
   margin: 1%;
   margin-left: 0%;
   margin-right: 0%;
   float: left;
   padding: 1%;
   box-sizing: border-box;
}


nav ul{
   margin: auto;
   width: 450px;
   background: cyan;
   padding:0;
}

nav ul li{
   text-align: center;
   width: 33.33%;
   background: lightpink;
   list-style: none;
   padding: 10px 0;
   float: left;
}
   nav ul li:hover{
      background:#E44DFE;
   }

nav ul li a{
   text-decoration: none;
   color: darkblue;
}